<header class="header">
    <div class="container">
        <div class="header__inner">
            <a href="" class="logo">
                <img src="assets/images/logo.png" alt="">
            </a>
    
            <nav class="nav">
                <ul>
                    <li class="active">
                        <a href="">
                            Home
                        </a>
                    </li>
    
                    <li>
                        <a href="">
                            Properties
                        </a>
                    </li>
    
                    <li>
                        <a href="">
                            Real Estate
                        </a>
                    </li>
    
                    <li>
                        <a href="">
                            News
                        </a>
                    </li>
    
                    <li>
                        <a href="">
                            Others
                        </a>
                    </li>
    
                    <li>
                        <a href="">
                            Contact
                        </a>
                    </li>
                </ul>
            </nav>
    
            <nav class="nav-utils">
                <ul>
                    <li>
                        <a class="contact-link" href="tel:+353833617736">
                            <i class="material-icons">
                                phone
                            </i>
                            
                            <span>
                                +353833617736
                            </span>
                        </a>
                    </li>
        
                    <li>
                        <a class="profile-link">
                            <i class="material-icons white-color">
                                account_circle
                            </i>
                            
                            <div class="dropdown dropdown--auth">
                                <div class="dropdown__corner"></div>
                                
                                <div class="dropdown__container">

                                </div>
                            </div>
                        </a>
                    </li>

                    <li>
                        <button mat-button class="bg-light-navy">
                            Submit
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>