@import '_base';

/**************************************
  Header
***************************************/

.header {
  & {
    position: absolute;
    width: 100%;
    z-index: 9999;
    padding: 2rem 0;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(192, 192, 192, 0) 100%);
    color: #fff;
  }
  .header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
}



/**************************************
  Nav
***************************************/

.nav {
  & {
    font-size: 15px;
  }
  ul{
    display: flex;
    align-items: center;
    list-style:  none;
    padding: 0;
    margin: 0;
  }
  .active a { 
    background-color: #ea723d;
  }
  a {
    line-height: 2.4rem;
    padding: 1rem 1.7rem;
  }
  a:hover{
    background-color: #ea723d;
  }
}


/**************************************
  Nav Utils
***************************************/

.nav-utils {
  & {
    font-size: 15px;
  }
  .contact-link {
    .material-icons {
      font-size: 30px;
      margin-right: 8px;
    }
  }
  .profile-link {
    & {
      position: relative;
      display: inline-block;
      cursor: pointer;
    }
    > .material-icons {
      font-size: 31px;
    }
    &:hover .dropdown{
      top: 100%;
      visibility: visible;
      opacity: 1;
    }
  }
  ul{
    display: flex;
    align-items: center;
    list-style:  none;
    padding: 0;
    margin: 0;
  }
  li ~ li {
    margin-left: 20px;
  }
  a {
    display: flex;
    align-items: center;
  }
}

@media(max-width: $smallDesktop) {
  .nav-utils {
    .contact-link {
      display: none;
    }
  }
}

/**************************************
  Logo
***************************************/

.logo {
  display: inline-block;
}


/**************************************
    Login Form
***************************************/

.form-login{ 
  .form__actions{     
    .btn {
      display: block;
      width: 100%;
    }
  }
  .form__register {
    text-align: center;
    margin: 1rem 0;
  }
  iframe {
    transform: scale(0.85) !important;
  }
  .form__register-link {
    & {
      display: inline-block;
      color: #444;
      font-weight: 500;
    }
    &:hover {
      color: #ea723d;
    }
  }

  .form__control ~ .form__control {
    margin-top: .2rem;
  }
}