<header class="header">
    <div class="container">
        <div class="header__inner">
            <a routerLink='/' class="logo">
                <img src="assets/images/logo.png" alt="">
            </a>
    
            <nav class="nav">
                <ul>
                    <li class="active">
                        <a routerLink='/'>
                            Home
                        </a>
                    </li>
    
                    <li>
                        <a href="">
                            Properties
                        </a>
                    </li>
    
                    <li>
                        <a href="">
                            Real Estate
                        </a>
                    </li>
    
                    <li>
                        <a href="">
                            News
                        </a>
                    </li>
    
                    <li>
                        <a href="">
                            Others
                        </a>
                    </li>
    
                    <li>
                        <a href="">
                            Contact
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="header__aside">
                <nav class="nav-utils">
                    <ul>
                        <li>
                            <a class="contact-link" href="tel:+353833617736">
                                <i class="material-icons">
                                    phone
                                </i>
                                
                                <span>
                                    +353833617736
                                </span>
                            </a>
                        </li>
            
                        <li>
                            <a class="profile-link">
                                <i class="material-icons white-color">
                                    account_circle
                                </i>
                                
                                <div class="dropdown dropdown--auth">
                                    <div class="dropdown__corner"></div>
                                    
                                    <div class="dropdown__container">
                                        <div class="dropdown__login">
                                            <h4 class="mb-1">
                                                Login
                                            </h4>
    
                                            <form [formGroup]="loginForm" (ngSubmit)="submitLogin()" class="form-login">
                                                <mat-form-field class="form-control" appearance="outline">
                                                    <mat-label>Email</mat-label>
                                                    
                                                    <input matInput formControlName='email' placeholder="email">
                                                    
                                                    <mat-icon matSuffix>email</mat-icon>
                                                    
                                                    <mat-error *ngIf="loginForm.get('email').hasError('required')">
                                                        This field is required !
                                                    </mat-error>
    
                                                    <mat-error *ngIf="loginForm.get('email').hasError('email')">
                                                        Invalid email !
                                                    </mat-error>
                                                </mat-form-field>
    
                                                <mat-form-field class="form-control" appearance="outline">
                                                    <mat-label>Password</mat-label>
    
                                                    <input formControlName='password' matInput [type]="hide ? 'password' : 'text'" placeholder="password">
                                                     
                                                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
                                                    </mat-icon>
                                                   
                                                    <mat-error *ngIf="loginForm.get('password').hasError('required')">
                                                        This field is required !
                                                    </mat-error>
    
                                                    <mat-error *ngIf="loginForm.get('password').hasError('minlength')">
                                                        Please provide minimum 8 symbols !
                                                    </mat-error>
                                                </mat-form-field>
    
                                                <div style="transform:scale(0.76);transform-origin:0 0;max-width: 200px;">
                                                    <re-captcha class="form__recaptcha" formControlName="recaptchaReactive"></re-captcha>
                                                </div>
                                                
                                                <div class="form__actions">
                                                    <button [disabled]='loginForm.invalid' class="bg-light-navy btn" type="submit" mat-button>
                                                        Login
                                                    </button>
                                                </div>
    
                                                <div class="form__register">
                                                    <a routerLink='/register' class="form__register-link">
                                                        New User? Register Now
                                                    </a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
    
                        <li>
                            <button mat-button class="bg-light-navy">
                                Submit
                            </button>
                        </li>
                    </ul>
                </nav>
    
                <div (click)='triggerMenu()' [ngClass]="{'is-open': isMobileMenuActive, 'is-closed': !isMobileMenuActive}" class="burger-menu">
                    <div class="line-top"></div>
                    <div class="line-middle"></div>
                    <div class="line-bottom"></div>
                </div>
            </div>
        </div>
    </div>
</header>