@import '_variables';
@import '_animations';

/**************************************
  Header
***************************************/

.header {
  & {
    position: absolute;
    width: 100%;
    z-index: 9999;
    padding: 2rem 0;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(192, 192, 192, 0) 100%);
    color: #fff;
  }
  .header__aside {
    & {
      display: flex;
      align-items: center;
    }
  }
  .header__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  .burger-menu {
    & {
      display: none;
      position: relative;
      z-index: 10;
      height: 28px;
      width: 36px;
      margin-left: 15px;
      cursor: pointer;
    }
    
    .line-top,
    .line-middle,
    .line-bottom {
      position: absolute;
      display: block;
      height: 3px;
      width: 36px;
      border-radius: 2px;
      background: #fff;
    }
    .line-top {
      top: 0;
      transform-origin: 34px 2px;
    }
    
    .line-middle {
      top: 12px;
      transition: opacity 200ms linear;
    }
    
    .line-bottom {
      bottom: 0;
      transform-origin: 34px 2px;
    }
    
    &.is-open {
      .line-top {
        animation: line-top-out 600ms linear normal;
        animation-fill-mode: forwards;
      }
      .line-middle {
        opacity: 0;
      }
      .line-bottom {
        animation: line-bot-out 600ms linear normal;
        animation-fill-mode: forwards;
      }
    }
    
    &.is-closed {
      .line-top {
        animation: line-top-in 600ms linear normal;
        animation-fill-mode: forwards;
      }
      .line-middle {
        transition-delay: 200ms;
      }
      .line-bottom {
        animation: line-bot-in 600ms linear normal;
        animation-fill-mode: forwards;
      }
    }
  }
  
}


@media(max-width: $tablet-portrait) {
  .header {
    .burger-menu {
      display: inline-block;
    }
  }
}


/**************************************
  Nav
***************************************/

.nav {
  & {
    font-size: 15px;
  }
  ul{
    display: flex;
    align-items: center;
    list-style:  none;
    padding: 0;
    margin: 0;
  }
  .active a { 
    background-color: $orange;
  }
  a {
    line-height: 2.4rem;
    padding: 1rem 1.7rem;
  }
  a:hover{
    background-color: $orange;
  }
}

@media(max-width: $smallDesktop) {
  .nav {
    a {
      padding: 1rem;
    } 
  }
}

@media(max-width: $tablet-portrait) {
  .nav {
    & { 
      position: absolute;
      right: 0;
      top: 0;
      background: $white;
      visibility: hidden;
      opacity: 0;
      width: 250px;
      transform: translateY(0);
      transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
      &.open {
        visibility: visible;
        opacity: 1;
        transform: translateY(4.3rem);
        transition-delay: 0s, 0s, 0.2s;
      }
      ul {
        flex-direction: column;
        
        li {
          width: 100%;
        }
        
        .active a { 
          background-color: $white;
        }

        a {
          display: block;
          padding: .8rem 2rem;
          color: $medium-dark-grey;
        }
      }
    } 
  }
}


/**************************************
  Nav Utils
***************************************/

.nav-utils {
  & {
    font-size: 15px;
  }
  .contact-link {
    .material-icons {
      font-size: 30px;
      margin-right: 8px;
    }
  }
  .profile-link {
    & {
      position: relative;
      display: inline-block;
      cursor: pointer;
    }
    > .material-icons {
      font-size: 31px;
    }
    &:hover .dropdown{
      top: 100%;
      visibility: visible;
      opacity: 1;
    }
  }
  ul{
    display: flex;
    align-items: center;
    list-style:  none;
    padding: 0;
    margin: 0;
  }
  li ~ li {
    margin-left: 20px;
  }
  a {
    display: flex;
    align-items: center;
  }
}

/**************************************
  Logo
***************************************/

.logo {
  display: inline-block;
}


/**************************************
    Login Form
***************************************/

.form-login{ 
  .form__actions{     
    .btn {
      display: block;
      width: 100%;
    }
  }
  .form__register {
    text-align: center;
    margin: 1rem 0;
  }
  iframe {
    transform: scale(0.85) !important;
  }
  .form__register-link {
    & {
      display: inline-block;
      color: #444;
      font-weight: 500;
    }
    &:hover {
      color: $orange;
    }
  }

  .form__control ~ .form__control {
    margin-top: .2rem;
  }
}