@import '_variables';

/**************************************
  Main
***************************************/
.main {
  .main__wrapper {
    position: relative;
  }
}


/**************************************
  Slick Carousel
***************************************/

.carousel {
  .slick-slide {
    min-height: calc(100vh - 130px);
  }
 .slick-link {
   display: block;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   position: absolute;
   left: 0;
   top: 0;
   bottom: 0;
   right: 0;   
 } 
}