
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import '_variables';
@import '_base';
@import '_material';

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$memento-primary: mat-palette($mat-indigo);
$memento-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$memento-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$memento-theme: mat-light-theme($memento-primary, $memento-accent, $memento-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($memento-theme);

/* You can add global styles to this file, and also import other style files */


/********************************
        Default Text Colors
*********************************/

.black-color { color: $black; }
.white-color { color: $white; }
.dark-navy-color { color: $dark-navy; }
.light-navy-color { color: $light-navy; }
.blue-color { color: $blue; }
.dark-grey-color { color: $dark-grey; }
.grey-color { color: $grey; }
.light-grey-color { color: $light-grey; }
.red-color { color: $warning; }
.orange-color { color: $orange; }
.lime-color { color: $lime-green; }
.green-color { color: $green; }
.purple-color { color: $purple; }


html, body { height: 100%; }
body { margin: 0; font-family: 'Rubik', sans-serif; }



/**************************************
        Default Background colors
***************************************/

.bg-transparent {
    background-color: $transparent;
    color: $white;
}

.bg-blue {
        background-color: $blue;
        color: $white;
}

.bg-black {
        background-color: $black;
        color: $white;  
}

.bg-white {
        background-color: $white;
        color: $black;
}
.bg-dark-navy {
        background-color: $dark-navy;
        color: $white;
}
.bg-light-navy {
        background-color: $light-navy;
        color: $white;
}
.bg-dark-grey {
        background-color: $dark-grey;
        color: $white;
}

.bg-light-navy {
        background-color: $light-navy;
        color: $white;
}

.bg-gray {
        background-color: $grey;
        color: $black;
}
.bg-light-gray {
        background-color: $light-grey;
        color: $black;
}
.color-light-gray {
        color: $light-grey;
}


/************************************
    Material Buttons
***********************************/

.mat-button { 
    border-radius: 0 !important;
}



/************************************
        Container
***********************************/
.container {
        max-width: 1440px;
        padding: 0 15px;
}


/**************************************
    Dropdown
***************************************/

.dropdown { 
    & {
        position: absolute;
        top: calc(100% + 30px);
        opacity: 0;
        visibility: hidden;
        right: calc(100% - 31px);
        transition: all .3s ease-in-out;
    }
   
    .dropdown__login {
        h4 {
            margin-bottom: 1rem;
        }
    }
    .dropdown__corner{ 
        position: relative;
        display: block;
        width: 10px;
        height: 10px;
        margin-left: auto;
        border-top: 10px solid transparent;
        border-right: 20px solid #f7f7f7;
    }
    .dropdown__container{ 
        margin-top: -10px;
        padding: 2rem;
        color: $dark-grey;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.05);
        background-color: #F7F7F7;
    }
}

/**************************************
    Slider Slick
***************************************/
.slick-dots {
    & {
        bottom: 10px !important; 
    }
    li button:before{ 
        font-size: 12px !important;
        color: $white !important;
    }
}

/**************************************
    Main
***************************************/
.main--margin-top {
    margin-top: 130px;
}