
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$memento-primary: mat-palette($mat-indigo);
$memento-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$memento-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$memento-theme: mat-light-theme($memento-primary, $memento-accent, $memento-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($memento-theme);

/* You can add global styles to this file, and also import other style files */


/********************************
        Default colors
*********************************/

$black: #000;
$white: #fff;
$dark-navy: #2a3a4a;
$light-navy: #1ea69a;
$blue: #3dbbf3;
$dark-blue: #2a3a4a;
$dark-grey: #505050;
$grey: #808080;
$light-grey: #1c9d92;
$warning: #d50000;
$orange: #ea723d;
$lime-green: #39FF14;
$green: #228B22;
$purple: #8A2BE2;
$transparent: transparentize($dark-navy, 0.1);

/********************************
        Default Text Colors
*********************************/

.black-color { color: $black; }
.white-color { color: $white; }
.dark-navy-color { color: $dark-navy; }
.light-navy-color { color: $light-navy; }
.blue-color { color: $blue; }
.dark-grey-color { color: $dark-grey; }
.grey-color { color: $grey; }
.light-grey-color { color: $light-grey; }
.red-color { color: $warning; }
.orange-color { color: $orange; }
.lime-color { color: $lime-green; }
.green-color { color: $green; }
.purple-color { color: $purple; }


html, body { height: 100%; }
body { margin: 0; font-family: 'Rubik', sans-serif; }


/************************************
    Basic Styling
***********************************/

body {
    & {
        min-width: 320px;
        background-color: $white;
        color: $grey;
        font-size: 14px;
        // overflow: hidden;
    }
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 0;
        margin-bottom: .5rem;
        font-weight: 400;
        line-height: 1.5;
        color: inherit;
    }
    .h1,
    h1 {
        font-size: 2.5rem;
        font-weight: 500;
    }
    .h2,
    h2 {
        font-size: 2rem;
    }
    .h3,
    h3 {
        font-size: 1.5rem;
    }
    .h4,
    h4 {
        font-size: 1.25rem;
    }
    .h5,
    h5 {
        font-size: 1rem;
    }
    .h6,
    h6 {
        font-size: .875rem;
    }
    p {
        opacity: 1 !important;
    }
    .container {
        max-width: 1170px;
        margin: 0 auto;
        padding: 0 15px;
    }

    .container-extended {
        max-width: 95%;
        margin: 0 auto;
        padding: 0 15px;
    }

    .section-header h2 {
        font-size: 32px;
        font-weight: 700;
        margin: 0 0 16px;
    }
    .mat-card {
        .mat-divider {
            position: relative;
        }
    }
    a {
        color: #fff;
        text-decoration: none;
        transition: .2s all linear;
    }
    a:focus {
        color: initial;
    }
}

/**************************************
        Default Background colors
***************************************/

.bg-transparent {
    background-color: $transparent;
    color: $white;
}

.bg-blue {
        background-color: $blue;
        color: $white;
}

.bg-black {
        background-color: $black;
        color: $white;  
}

.bg-white {
        background-color: $white;
        color: $black;
}
.bg-dark-navy {
        background-color: $dark-navy;
        color: $white;
}
.bg-light-navy {
        background-color: $light-navy;
        color: $white;
}
.bg-dark-grey {
        background-color: $dark-grey;
        color: $white;
}

.bg-light-navy {
        background-color: $light-navy;
        color: $white;
}

.bg-gray {
        background-color: $grey;
        color: $black;
}
.bg-light-gray {
        background-color: $light-grey;
        color: $black;
}
.color-light-gray {
        color: $light-grey;
}


/************************************
    Material Buttons
***********************************/

.mat-button { 
    border-radius: 0 !important;
}

/************************************
         Media Queries
***********************************/

$mobile-xs: '390px';
$mobile: '599px'; 
$tablet: '959px';
$tablet-portrait: '1024px';
$smallDesktop: '1279px';



/************************************
        Container
***********************************/
.container {
        max-width: 1440px;
        padding: 0 15px;
}


/**************************************
    Dropdown
***************************************/

.dropdown { 
    & {
        position: absolute;
        top: 100%;
        left: 0;
        width: 260px;
        padding-top: 15px;
    }
    .dropdown__corner{ 
        position: relative;
        display: block;
        width: 10px;
        height: 10px;
        margin-left: auto;
        border-top: 10px solid transparent;
        border-right: 20px solid #f7f7f7;
    }
    .dropdown__container{ 
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.05);
        background-color: #F7F7F7;
    }
}