/********************************
        Default colors
*********************************/

$black: #000;
$white: #fff;
$dark-navy: #2a3a4a;
$light-navy: #485d72;
$blue: #3dbbf3;
$dark-blue: #2a3a4a;
$dark-grey: #505050;
$grey: #d8d8d8;
$light-grey: #ececec;
$warning: #d50000;
$orange: #FE8F01;
$lime-green: #39FF14;
$green: #228B22;
$purple: #8A2BE2;
$transparent: transparentize($dark-navy, 0.1);

/********************************
        Default Text Colors
*********************************/

.black-color { color: $black; }
.white-color { color: $white; }
.dark-navy-color { color: $dark-navy; }
.light-navy-color { color: $light-navy; }
.blue-color { color: $blue; }
.dark-grey-color { color: $dark-grey; }
.grey-color { color: $grey; }
.light-grey-color { color: $light-grey; }
.red-color { color: $warning; }
.orange-color { color: $orange; }
.lime-color { color: $lime-green; }
.green-color { color: $green; }
.purple-color { color: $purple; }

/**************************************
        Default Background colors
***************************************/
.bg-transparent {
    background-color: $transparent;
    color: $white;
}

.bg-blue {
        background-color: $blue;
        color: $white;
}

.bg-black {
        background-color: $black;
        color: $white;  
}

.bg-white {
        background-color: $white;
        color: $black;
}
.bg-dark-navy {
        background-color: $dark-navy;
        color: $white;
}
.bg-light-navy {
        background-color: $light-navy;
        color: $white;
}
.bg-dark-grey {
        background-color: $dark-grey;
        color: $white;
}

.bg-light-navy {
        background-color: $light-navy;
        color: $white;
}

.bg-gray {
        background-color: $grey;
        color: $black;
}
.bg-light-gray {
        background-color: $light-grey;
        color: $black;
}
.color-light-gray {
        color: $light-grey;
}

/************************************
         Media Queries
***********************************/

$mobile-xs: '390px';
$mobile: '599px'; 
$tablet: '959px';
$tablet-portrait: '1024px';
$smallDesktop: '1279px';
