/********************************
        Default colors
*********************************/

$black: #000;
$white: #fff;
$dark-navy: #2a3a4a;
$light-navy: #1ea69a;
$blue: #3dbbf3;
$dark-blue: #2a3a4a;
$dark-grey: #1a1a1a;
$grey: #808080;
$light-grey: #f7f7f7;
$warning: #d50000;
$orange: #ea723d;
$lime-green: #39FF14;
$green: #228B22;
$purple: #8A2BE2;
$transparent: transparentize($dark-navy, 0.1);